@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
    background-color:#000;
    color:white;
    font-family: 'Inter', sans-serif;
    margin:0;
}

.main {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    display:flex;
}

input.url {
    width:450px;
    padding:12px 15px;
    border-radius:10px;
    border:none;
    outline:none;
    background:#111;
    color:white;
    font-size:16px;
    border:1px solid rgba(255,255,255,0.2);
    transition:0.2s;
}

input.url:focus {
    background:#181818;
}

.row-thing {
    gap:10px;
    margin:10px;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80px; 
    height: 80px;
    padding: 8px 6px;
    background: transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    cursor: pointer;
}


.card img {
    width: 50px;
    height: 50px;
}

.card p {
    font-size: 16px;
    margin: 0;
    text-align: center;
}
