@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
    background-color:#222;
    color:white;
    font-family: 'Inter', sans-serif;
}

.main {
    position:absolute;
    justify-content:center;
    align-items:center;
    width:50%;
    height:50%;
}

input.url {
    border-radius:5px;
    height:30px;
    border:none;
    outline:none;
    box-shadow: 0px 0px 5px 5px white;
    background:transparent;
}